* {
  padding: 0;
  margin: 0;
  font: 12px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

html, body {
  background-color: #151826;
}

.box {
  float: left;
  min-width: 150px;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: #5b6c8c;
}

.box-header-text {
  padding: 2px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 2px solid #EA4E47;
}

#testsuite-toggles-visuals {
}

#controls {

}

.controls-child {
  float: left;
  padding: 5px 10px 0 10px;
  border-right: 1px solid;
  text-align: center;
}

.controls-child-text {
  display: inline-block;
  margin: 1px;
  width: 100%;
  font-weight: bold;
}

/* color: #1c1c1c; font-family: sans-serif; font-size: 11px; background-color: #f4f4f4; padding: 10px; width: 200px; border-radius: 10px; */
