* {
  padding: 0;
  margin: 0;
  font: 12px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

html, body {
  background-color: #151826;
}

input[type=checkbox]{
  float: left;
	height: 0px;
	width: 0px;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 20px;
	background: grey;
	display: block;
	border-radius: 10px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 10px;
	transition: 0.3s;
}

input:checked + label {
	background: #bada55;
}

input:checked + label:after {
	left: calc(100% - 3px);
	transform: translateX(-100%);
}

label:active:after {
	width: 26px;
}

#container {
  padding-top: 5px;
  border-top: 1px solid #232323;
}


.box {
  float: left;
  min-width: 150px;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: #f1f1f1;
}

.box-header-text {
  padding: 2px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 2px solid #4f4f4f;
}

.devtools-box-wrapper {
  float: left;
  display: inline-block;
  width: 250px;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: #f1f1f1;
}

.devtools-box-header-text {
  padding: 2px;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 2px solid #4f4f4f;
}

.devtools-toggle-container-wrapper {
  display: inline-block;
  width: 250px;
  border-bottom: 1px solid #cecece;
}

.devtools-toggle-container-label {
  float: left;
  margin-bottom: 5px;
}

.devtools-toggle-container-name {
  float: left;
  margin: 1px;
  padding-left: 5px;
}

.devtools-visualizer-color {
  border-color: #56a1e2;
}

.devtools-abstractor-color {
  border-color: #A9DB8E;
}
.devtools-disabler-color {
  border-color: #EA4E47;
}



.controls-child {
  float: left;
  padding: 5px 10px 0 10px;
  border-right: 1px solid;
  text-align: center;
}

.controls-child-text {
  display: inline-block;
  margin: 1px;
  width: 100%;
  font-weight: bold;
}
